In [20]:
import pickle
import warnings

In [21]:
warnings.filterwarnings('ignore')

In [22]:
trans = pickle.load(open('tranformer.pkl','rb'))
scaler = pickle.load(open('scaler.pkl','rb'))
label = pickle.load(open('label.pkl','rb'))

In [23]:
trans, scaler, label

(ColumnTransformer(remainder='passthrough',
                   transformers=[('ohe', OneHotEncoder(drop='first'),
                                  ['Geography'])]),
 StandardScaler(),
 LabelEncoder())

In [24]:
from tensorflow.keras.models import load_model

In [25]:
model = load_model('model.h5')

In [26]:
input_data = {
    'CreditScore':619,
    'Geography':'France',
    'Gender':'Female',
    'Age':42,
    'Tenure':2,
    'Balance':60000,
    'NumOfProducts':1,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':101348.0
}

In [27]:
import pandas as pd

In [28]:
input_df = pd.DataFrame(input_data, index=[0])

In [29]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,60000,1,1,1,101348.0

In [30]:
input_df['Gender'] = label.transform(input_df['Gender'])

In [31]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,60000,1,1,1,101348.0

In [32]:
input_df = trans.transform(input_df)

In [33]:
input_df = scaler.transform(input_df)

In [35]:
output = model.predict(input_df)

1/1 [==============================] - 0s 28ms/step

In [37]:
output[0][0]

0.16562907

In [39]:
if output[0][0] >0.5:
    print('will Churn')
else:
    print('Not Churn')

Not Churn